<fieldset data-hook="gift-card">
  <legend align="center">Gift Card</legend>

  <div class="row">
    <div class="alpha six columns">
      <dl>
        <dt>Redemption Code:</dt>
        <dd><%= payment.source.redemption_code %></dd>
      </dl>
    </div>
  </div>
</fieldset>
